*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.History{
    margin: auto;
    font-size: 35px;
    -webkit-text-stroke: 1px  rgb(192, 238, 251);
    color: transparent;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.animated-image {
    border-radius: 6px;
    width: 200px;
    height: 200px;
    transition:  3s ease-in;
}

.animated-image:hover {
    transform: scale(2.5); 
}

.paragraph {
    font-size: 30px;
    line-height: 1.5;
    color: #888181;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
    text-align: center;
}

.paragraph1 {
    font-size: 30px;
    line-height: 1.5;
    color: #2d2929;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
    text-align: center;
}

.paragraph2 {
    font-size: 30px;
    line-height: 1.5;
    color:  #888181;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
    text-align: center;
}

.paragraph3 {
    font-size: 30px;
    line-height: 1.5;
    color:  #2d2929;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
    text-align: center;
}

.paragraph4 {
    font-size: 30px;
    line-height: 1.5;
    color:  #888181;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
    text-align: center;
}

.paragraph5 {
    font-size: 30px;
    line-height: 1.5;
    color:  #2d2929;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
    text-align: center;
}

p{  
    font-size: 20px;
    background-color: #f3f3f3; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin:auto;
}
footer{
    text-align: center;
    font-size: 25px;
}